@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&family=Spline+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2? família=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(68.15deg, #5d96e0 16.62%, #5c6bc0 85.61%);     
    color: #fdd835;
    height: 25vh;
    justify-content: space-around;    
      
}

body {    
    text-align: center;
    box-sizing: border-box;    
}

/* HEADER*/

.titulo {
    font-family: 'Sedgwick Ave', cursive; 
}

a#titulo {
    text-decoration: none;
    color: #fdd835;
    border-radius: 15px;
    font-size: 25pt;        

}

a {
    color: #fff;
    text-decoration: none;
    font-size:  20pt; 

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    font-family: 'Sarala', sans-serif;
  }

.menu-lista {
    list-style: none; /*Retirar o ponto*/
    display: flex;
}

.menu-lista li {
   letter-spacing: 3px; /*Espaçamento entre as letras*/
   margin-left: 32px; /*Jogar mais para a direita*/
}
/* CONTEUDO */

.principal {
    display: flex;    
    align-items: center;
    justify-content: center;
    background-color: #eee;
    height: 100vh;    
}

.principal-campo {
    padding: 40px;
    background-color: #fefefe;
    border-radius: 5px;
    width: 700px;
    height: 550px;
    padding-top: 5px;
    padding-bottom: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
}

.principal-campo-conteudo {
    padding-bottom: 30px;    
    text-align: center;
}

.principal-campo-conteudo label {
    margin-bottom: 0.2em;
    display: block;
}

p.principal-campo-pergunta {
    font-size: 30pt;
    padding: 40px;
}


label {
    font-size: 25pt;    
}



#botao {
    width: 180px;
    height: 40px;
    font-size: 25px;    
    background: linear-gradient(68.15deg, #5d96e0 16.62%, #5c6bc0 85.61%);
    color: #fdd835;
    border: none;
    border-radius: 6px;
    cursor: pointer;    
}

#res {    
    font-size: 60px;
    border-radius: 15px;
    display: flex;    
    align-items: center;
    justify-content: center;
    background-color: #eee;   
}
 
@media screen and (max-width: 999px) {
      
    .principal-campo {
        width: 550px;
        height: 550px;        
    }
}

@media screen and (max-width: 768px) {
    
    .principal-campo {
        width: 500px;
        height: 540px;        
    }

    header {        
        text-decoration: none;
        display: flex;
        flex-direction: column;
        padding: 40px;    
    } 

    nav {
        padding-right: 30px;
    }

    p.principal-campo-pergunta {
        font-size: 25pt;
        
    }
    label {
        font-size: 20pt;    
    }

    #res {
        font-size: 32pt;
    }
}
