@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&family=Spline+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2? família=Sarala&display=swap');

body {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    font-size: 20pt;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;    
    background-color: #5c6bc0;
    color: #fdd835;
    justify-content: space-around;    
      
}

.titulo {
    font-family: 'Sedgwick Ave', cursive; 
}

a#titulo {
    text-decoration: none;
    color: #fdd835;
    border-radius: 15px;
    font-size: 25pt;        

}

a {
    color: #fff;
    text-decoration: none;
    font-size:  20pt; 

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    font-family: 'Sarala', sans-serif;
  }

.menu-lista {
    list-style: none; /*Retirar o ponto*/
    display: flex;
}

.menu-lista li {
   letter-spacing: 3px; /*Espaçamento entre as letras*/
   margin-left: 32px; /*Jogar mais para a direita*/
}

.menu-mobile {
    display: none;
    cursor: pointer;
}

.menu-mobile div { /*Criar o menu hamburguer*/
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.principal {
    display: flex;    
    align-items: center;
    justify-content: center;
    background-color: #eee;
    height: 100vh;    
}

.principal-campo {
    padding: 40px;
    background-color: #fefefe;
    border-radius: 5px;
    width: 700px;
    height: 450px;
    padding-top: 5px;
    padding-bottom: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
}

.principal-campo-conteudo {
    padding-bottom: 30px;
    font-size: 25px;
    text-align: center;
}

.principal-campo-conteudo label {
    margin-bottom: 0.2em;
    display: block;
}

p.principal-campo-pergunta {
    font-size: 30pt;
}


label {
    font-size: 25pt;
}

#botao {
    width: 180px;
    height: 40px;
    font-size: 25px;    
    background-color: #5c6bc0;
    color: #fdd835;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#res {    
    font-size: 60px;
    border-radius: 15px;
    display: flex;    
    align-items: center;
    justify-content: center;
    background-color: #eee;   
}

footer {
    background-color: #eee;
    padding: 10px;
    font-style: italic;
    
}

a.rodape {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 999px) {
      
    .principal-campo {
        width: 550px;
        height: 450px;        
    }
}

@media screen and (max-width: 768px) {
    
    body {
        width: 100%;
        height: 100%;
        overflow-x: hidden; /*Se algo transborda, fica fora do body*/
    }

    .menu-lista {
        position: absolute;
        top: 19.6vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #5c6bc0;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
        gap: 32px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in ;
    }
    .menu-lista li {
        margin-left: 0;
                
    }
    
    .menu-mobile {
        display: block;
    }
}    

    .menu-lista.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .menu-mobile.active .linha1 {
        transform: rotate(-45deg) translate(-8px, 8px);
      }
      
      .menu-mobile.active .linha2 {
        opacity: 0;
      }
      
      .menu-mobile.active .linha3 {
        transform: rotate(45deg) translate(-5px, -7px);
      }
